#exclude personal Main
/code/java/src/main/java/Main.java

#exclude testMain
/code/java/src/main/java/testMain.java
/code/java/src/main/java/TestMain.java

#exclude own .class files
/code/java/bin/
/code/java/target/

#exclude own conf/logFiles
/logs/info.log
/config/smart-home-java.conf

#exclude personal Jar-Files
/code/compiledJava/
/code/finishedVersions/

#exclude Pycharm folder
/code/python/.idea/
