#exclude personal Main
/code/src/main/java/Main.java

#exclude testMain
/code/src/main/java/testMain.java
/code/src/main/java/TestMain.java

#exclude own .class files
/code/bin/
/code/target/

#exclude own conf/logFiles
/logs/info.log
/logs/error.log
/config/smart-home-java.conf

#exclude Pycharm folder
/code/src/main/resources/pythonFiles/.idea/

#exclude other things
/code/ablage
