#exclude personal Main
/code/src/main/java/Main.java

#exclude test classes and test projekts
/code/src/main/java/testMain.java
/code/src/main/java/TestMain.java
/code/src/main/java/database/TestConnector.java
/test/
/website/experimentalJavaWebsite/
/ServerExperimental/
/website/website/experimentalWebsite/

#exclude own .class files
/code/bin/
/code/target/

#exclude own conf/logFiles
/logs/info.log
/logs/error.log
/config/smart-home-java.conf

#exclude Pycharm folder
/code/src/main/resources/pythonFiles/.idea/

#exclude other things
/code/ablage
/code/test.conf
/code/test/

#exclude jar/sh files
*.jar
*.sh
/.metadata/
