ul.nav {
    background-color: #D0D0D0;
}

li a.notActiv{
  background-color: #AAAAAA;
  color: black;
}

li a.activ{
  background-color: #909090;
  color: white;
}

li a:hover:not(.activ){
  background-color: #777;
  color: white;
}
